header.backImage {
    background-image: url("../../img/logomuz.jpg"), linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); /* Resmin üzerine saydamlık eklemek için */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}


header.backImage .backImage-heading{
    font-weight: 600;
    font-size: 300%;
    line-height: 3rem;
    margin-bottom: 2rem;
    color:black;
    background-color: whitesmoke;
    margin-top:3%;
    font-family:"Caveat"

}
.small-form {
    max-width: 175px; 
    margin: auto;
}
.small-form .btn {
    background-color:rgb(0, 0, 0);
    padding: 2%;
}
.small-form .form-control {
    font-size: 0.85rem; 
}

#kayit{
    background-color:inherit ;
    margin: 0px;
}
#mNavbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: rgb(40, 165, 144);
}

#mNavbar .navbar-brand {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0.065em;
}

#mNavbar .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;          /* Daha kalın yazı */
    color: rgb(255, 255, 255);
    letter-spacing: 0.06rem;
    white-space: nowrap;       /* Satır atlamayı engeller */

}

#mNavbar .navbar-nav .nav-item .nav-link.active,
#mNavbar .navbar-nav .nav-item .nav-link:hover {
    color: rgb(16, 95, 69);
}


.mySection{
    padding: 4rem ;
    margin: 1rem;
}

.mySection h2.s-heading{
    font-size:2rem;
    margin-top:0;
    margin-bottom:1rem;
}
.mySection h3.s-subheading{
    font-size:1rem;
    font-weight: 600;
    font-style: italic;
    font-family: "Roboto-Slab";
}

a{
    text-decoration: none;
    color: black;
}

h2, h3{
    font-family: "Roboto-Slab";  
}
h2{
    color:rgb(4, 55, 56);
}
.main-timeline {
    position: relative;
  }
  
  .main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #03462885;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline {
    position: relative;
    width: 50%;

  }
  
  .timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #175d42;
    border: 5px solid #04643d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  
  .left::before {
    content: "";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: "";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -12px;
  }
  
  @media screen and (max-width: 600px) {
    .main-timeline::after {
      left: 31px;
    }
  
    .timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .timeline::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after,
    .right::after {
      left: 18px;
    }
  
    .left::before {
      right: auto;
    }
  
    .right {
      left: 0%;
    }
  }
  
  .btn-close{
    position: relative;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 350px;

  }
#basin .b-item {
    position: relative; 
    
}

#basin .b-item .b-link {
    position: relative;
    display: block;
    margin: 0 auto;
    overflow: hidden; 
}

#basin .b-item .b-link .b-hover {
    display: flex;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity ease-in-out 0.3s; 
}

#basin .b-item .b-link:hover .b-hover {
    opacity: 1; 
}

#basin .b-item .b-link .b-hover .ph-content {
    font-size: 6rem;
    color: rgb(255, 255, 255); 
}
.p-modal .close-modal{
    position: absolute;
    top: 1.5rem;
    right:1.5rem;
    width:3rem;


}

.t-mama {
    margin: 10px; 
}

  
.t-mama {
    margin: 10px; 
}


#iletisim{
    background-repeat:no-repeat;
    background-position: center;
    background-size: 105%;
    margin:0px;
    margin-top: 100px;


    
}

#iletisim .form-textarea{
    height: 91%;
}
#iletisim .form-textarea textarea{
    height: 100%;
    min-height: 10rem;
}
#iletisim .form-control:focus{
    box-shadow: 1px 1px  12px rgb(14, 113, 29);
}

#BtnContact{
margin-left:5px;
margin-bottom: 20px;;
background-color: rgb(14, 51, 46);
width: 100%;

}


.footer .row {
    display: flex; 
    justify-content:right; 
    flex-wrap: wrap;
}

.footer .col-md-6 {
    flex: 1; 
}

.text-center {
    text-align: center; 
}

@media (max-width: 768px) {
    .footer .row {
        text-align: center; 
    }

    .footer .text-md-end {
        text-align: center;
    }

    #iletisim{
        background-size: 600px;
        
    }
}

@media (min-width: 992px) {
    .t-mama {
        flex: 1;
        max-width: 33.33%; 
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .t-mama {
        flex: 1;
        max-width: 50%; 
    }
}







@media (max-width: 991.98px) {
    header.backImage {
        padding-top:11rem;
        padding-bottom: 5rem;
    }

    #mNavbar .navbar-nav .nav-item .nav-link{
        color: black;
    }
}

@media (min-width: 992px) {
    header.backImage {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

}
@media (max-width: 768px) {
    .img-container{
        width: 5rem;
        height: 5rem;
        
    } .img-container2 {
        width: 3rem;
        height: 3rem;
        margin-left: 10px;
    }
    
    

    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .text-center {
        text-align: center;
    }
}
